/* ========================================
  p-product
======================================== */

.p-product__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 2rem;
}

.p-product__item {
  font-size: 1.4rem;
  border: 1px solid #ccc;
  padding: 0.25em 0.5em;

  & + .p-product__item {
    margin-left: 1rem;
  }

  &::before {
    content: none !important;
  }
}
